#logIn {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: white 2px solid;
    margin-right: 30px;
    position: absolute;
    right: 20px;
}